<br>
<h2 class="text-center mt-3">Follow directions below</h2>
<br>
<figure class="d-flex justify-content-center mt-5 mb-5">
  <%= image_tag "map_to_store", class: "d-block w-75 mt-5 mb-5" %>
</figure>