<section class="d-flex gap-2 justify-content-between flex-wrap mt-5 mb-5">
  <div class="card" style="width: 18rem;">
    <%= image_tag("water.svg", alt: "A cup of water", class: "d-block w-100") %>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</section>