<div>
	<br>
	<h1>About</h1>
	<p>We dont't actually exist, but you could always just get two burgers and stack them.</p>
	<br>
	<h2>Our mission to to revolutionize the way people enjoy burgers</h2>
	<p>with data supported by our team of food reseachers</p>
</div>

<div class="d-lg-flex gap-4 mt-5">
	<article class="d-flex flex-column col-lg-6 mt-5">
		<section class="mb-5">
		<h3>Why? you might ask</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section class="mb-5">
			<h3>Why not just have two separate burgers?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section class="mb-5">
			<h4>Isn't it just a Bigmac with an extra bit of bun?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris.</p>
		</section>
	</article>
	<aside>
		<figcaption class="sci-text">
			<h3>Our team of reseachers confirm that this is the best way to enjoy burgers.</h3>
		</figcaption>
		<figure class="">
			<%= image_tag 'science_team.png', alt: "scientist in a lab, giving a thumbs up", class:"figure-img img-fluid rounded" %>
		</figure>
	</aside>
</div>

