<header>
	<div class="intro">
		<h1>Introducing the double burger</h1>
		<h2>It's not two patties, it's two burgers stacked</h2>
	</div>
<div class="burgers">
	<figure>
		<figcaption class="burgerCaption"><h3>Their Burger</h3></figcaption>
		<%= image_tag "theirBurger.svg", alt: "A regular double with 2 patties" %>
	</figure>
	<figure>
		<figcaption class="burgerCaption"><h3>Our Burger</h3></figcaption>
		<%= image_tag "ourBurger.svg", alt: "Our double with 2 burgers, with one stacked on the other" %>
	</figure>
</div>
<br>
</header>
<hr>
<div id="why">
	<article class="article">
		<section>
		<h2>Why? you might ask</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section>
			<h3>Why not just have two separate burgers?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section>
			<h4>Isn't it just a Bigmac with an extra bit of bun?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris.</p>
		</section>
	</article>
	<aside class="side">
		<figcaption class="sci-text">
			<h3>Our science team confirms that this is the single best way to enjoy a burger.</h3>
		</figcaption>
		<figure>
			<%= image_tag 'science_team.png', alt: "scientist in a lab, giving a thumbs up", class:"sci-img" %>
		</figure>
	</aside>
</div><hr>

