<br>
<h1>Menu</h1>
<br>
<section>
  <h2>Featured</h2>
  <%= render 'shared/featured' %>
  <h2>Burgers</h2>
  <%= render 'shared/burgers' %>
  <h2>Sides</h2>
  <%= render 'shared/sides' %>
  <h2>Drinks</h2>
  <%= render 'shared/drinks' %>
</section>